## Ignoring specific firmware-analysis-toolkit files
src/modules/emulation/fat/binwalk
src/modules/emulation/fat/firmadyne

.idea

docker-compose.yaml
.dockerignore
.gitignore
README.md
.gitmodules
.github
venv